*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Segoe UI';
    letter-spacing: 50;
}

h1{
    font-size: 45;
    border-bottom: 2px solid black;
    width: 40%;
}

h2{
    font-size: 30;
    float:left;
}

h3{
    font-size: 20;
}

.hr-product{
    border: 1px solid black;
    width:60%;
}
.hr-header{
    border: 1px solid black;
    width:80%;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
    
li {
    float: left;
}
    
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover {
    background-color: Teal;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}

.link:link, link:visited{
    background-color: white;
    color: #bf7631;
    padding: 5px 10px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

/* .learn-more{
    color: #bf7631;
    border-bottom: 1px solid #BF7631
} */

.button{
    background-color: #BF7631;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30;
}

.container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grouped-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    align-items: center;
}

.p2{
    float:right;
    font-size: 30;   
}

.logo-image{
    height: 40px;
}

.logo-text{
    font-size: 40;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-image{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, black, transparent,black),url(./UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    height: 500px;
    background-size: cover;
}
.main-type1{
    display: flex;
    font-size: 30px;
    color: white;
    padding:50px;
    justify-content: flex-start;
    align-content: flex-start;
}

.main-type2{
    display: flex;
    font-size: 30px;
    color: white;
    padding:50px;
    justify-content: flex-end;
    align-items: flex-end;
}

.txtcontainer1{
    display: flex;
    /* justify-content: left;
    flex-wrap: wrap;
    align-items: baseline; */
}

.txtcontainer2{
    display: flex;
    flex-direction: column;
}
.txtcontainer3{
    display: flex;
}
.txtcontainer4{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txtcontainer5{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.product-image{
    max-width: 350px;
    object-fit: cover;
    max-height: 265px;
    border: 1px solid black;
}

.foot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #BF7631;
}